body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-2xl-9: 21.9px;
  --font-size-8xl-3: 27.3px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-5xl: 24px;
  --font-size-9xl: 28px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #383838;
  --color-darkslategray: #333;
  --color-gray-100: #292929;
  --color-gray: #121212;
  --color-indigo: #531a80;
  --color-darkorchid: #8530c9;
  --color-dimgray: #666;
  --color-darkturquoise: #25c7ca;

  /* border radiuses */
  --br-31xl: 50px;
}
