@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Pacifico&family=Philosopher:ital@1&display=swap');
#main-title {
    font-family: 'Chakra Petch', sans-serif;
}
#main-paragraph {
    font-family: 'Pacifico', cursive;
}
#logo {
    height: 125px;
    width: 145px;
    
}
#chategories {
    background-color: rgb(70, 54, 54);
    height: 3940px;
    width: 345px;
    border-radius: 10px;
}
#title-line {
    background-color: rgb(168, 7, 7);
    height: 200px;
    width: 1340px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.icon {
    height: auto;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.chategory {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}
.personal-info-data1 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
.certificate-data {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
#description-personal-skills{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 357px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.education-info-data1 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
.education-info-data2 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 900px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
#description-education{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 375px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
#description-personal-skills{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 357px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.button1 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 125px;
    height: 22px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.button2 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 100px;
    height: 22px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.personal-info-data1 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 900px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
.personal-info-data2 {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
#description-personal-skills{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 357px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.Publication-data {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    font-family: 'Philosopher', sans-serif;
}
#description-publication1{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 345px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
#description-publication2{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 150px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
.work-info-data {
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 300px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
}
#description-job{
    background-color: rgb(210, 212, 214);
    border-style: outset;
    width: 755px;
    height: 375px;
    text-align: center;
    position: relative;
    left: 400px;
    color: black;
    text-align: left;
    font-family: 'Philosopher', sans-serif;
}
body {
    background-color: beige;
}
p {
    font-family: 'Philosopher', sans-serif;
}